<div>
  <div>

    {{#each product in model}}
      <div>
        <div>

          <!-- <img {{bind-attr src=product.image alt=product.name}}> -->
          <h3><div>{{product.name}}</div></h3>
          <h6><div>{{product.category}}</div></h6>
          <h3><div>£{{product.price}}</div></h3>

          {{#if product.inStock}}
            <button {{action "addToCart" product}}>Buy</button>
          {{else}}
            <button disabled>Sold Out</button>
          {{/if}}

        </div>
      </div>
    {{/each}}

  </div>
</div>
